pyinstaller~=6.7.0
cloudscraper~=1.2.71
colorama~=0.4.6
pretty-errors~=1.2.25
tqdm~=4.66.4
lxml~=5.2.2
lxml_html_clean~=0.1.1
Pillow~=10.3.0
pycryptodome~=3.20.0
chardet~=5.2.0
cryptography~=42.0.7
pywin32==306
