altgraph==0.17
baidu-aip==2.2.18.0
certifi==2020.12.5
chardet==4.0.0
cloudscraper==1.2.58
colorama==0.4.4
future==0.18.2
idna==2.10
lxml==4.6.5
packaging==20.9
pefile==2019.4.18
Pillow==9.0.1
pretty-errors==1.2.19
pycryptodome==3.10.1
PySocks==1.7.1
requests==2.25.1
tqdm==4.59.0
urllib3==1.26.5
pywin32==303
pywin32-ctypes==0.2.0
