# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: "Unit Test: web-based functions"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  # Web crawlers might be outdated because of website updating, so run every day to follow the changes
  - cron:  '9 9 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test-web-crawlers:

    runs-on: windows-latest
    env:
      PYTHONIOENCODING: "utf-8"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r requirements.txt
    - name: Switch code page
      run: |
        chcp 65001
    - name: Test proxyfree.py
      run: |
        pytest unittest/test_proxyfree.py
    - name: Test web crawlers
      run: |
        pytest unittest/test_crawlers.py
    - name: Upload log as artifact
      uses: actions/upload-artifact@v1
      if: ${{ always() }}
      with:
        name: JavSP-web-funcs.log
        path: JavSP.log
