# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: "Unit Test: basic functions"

on:
  push:
    branches:
    - master
    - premerge
  pull_request:
    branches:
    - master
    - premerge
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test-basic-funcs:

    runs-on: windows-latest
    env:
      PYTHONIOENCODING: "utf-8"
      PYTEST_ADDOPTS: "-rA --color=yes --tb=long --showlocals"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Switch code page
      run: |
        chcp 65001
    - name: Test avid.py
      run: |
        pytest unittest/test_avid.py
    - name: Test file.py
      run: |
        pytest unittest/test_file.py
    - name: Test func.py
      run: |
        pytest unittest/test_func.py
    - name: Upload log as artifact
      uses: actions/upload-artifact@v1
      if: ${{ always() }}
      with:
        name: JavSP-basic-funcs.log
        path: JavSP.log
